mycert.*

# Java noise
java/target/*

# Script files
script/config.sh

# Load test project files
load_test/tests/test_results.txt
load_test/tests/ab_results.txt
load_test/tests/benchmark.tsv
load_test/tests/load_test_in_progress

# CI Project Files
ci/jenkins/jenkins_home/.owner
ci/jenkins/jenkins_home/.bash_history
ci/jenkins/jenkins_home/.docker
ci/jenkins/jenkins_home.bak
ci/jenkins/jenkins_home/.java/
ci/jenkins/jenkins_home/hudson.model.UpdateCenter.xml
ci/jenkins/jenkins_home/hudson.plugins.git.GitTool.xml
ci/jenkins/jenkins_home/identity.key.enc
ci/jenkins/jenkins_home/init.groovy.d/
ci/jenkins/jenkins_home/nodeMonitors.xml
ci/jenkins/jenkins_home/plugins.txt
ci/jenkins/jenkins_home/plugins/
ci/jenkins/jenkins_home/queue.xml.bak
ci/jenkins/jenkins_home/secret.key
ci/jenkins/jenkins_home/secret.key.not-so-secret
ci/jenkins/jenkins_home/secrets/
ci/jenkins/jenkins_home/updates/
ci/jenkins/jenkins_home/userContent/
ci/jenkins/jenkins_home/users/
ci/jenkins/jenkins_home/war/
ci/jenkins/jenkins_home/workspace/
ci/jenkins/jenkins_home/jobs/*/builds
ci/jenkins/jenkins_home/jobs/*/lastSuccessful
ci/jenkins/jenkins_home/jobs/*/nextBuildNumber
ci/jenkins/jenkins_home/jobs/*/lastStable
ci/jenkins/jenkins_home/jobs/*/promotions/*/builds
ci/jenkins/jenkins_home/jobs/*/promotions/*/lastSuccessful
ci/jenkins/jenkins_home/jobs/*/promotions/*/nextBuildNumber
ci/jenkins/jenkins_home/jobs/*/promotions/*/lastStable

# Emacs files
auto-save-list
custom.el
url/
.org-id-locations
\#*
org-mode-config.el
*~
~$*
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
emacs-config.el
.vscode

# Vi Files
*.swp
*.swo
