mycert.*
java/target/*
script/config.sh
ci/www/html/benchmark.tsv
ci/www/html/request_plot.jpg

# Emacs files
auto-save-list
custom.el
url/
.org-id-locations
\#*
org-mode-config.el
*~
~$*
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
emacs-config.el

# Vi Files
*.swp
*.swo
