# Server Config
DEV_MACHINE_NAME=tutorialDev
STAGE_MACHINE_NAME=tutorialStage
PROD_MACHINE_NAME=tutorialProd

# Staging Server Config
ASP_STAGE_VERSION=0.0.1
JAVA_STAGE_VERSION=0.0.1

# Variables needed to workaround bug in folder sharing
# on Windows, see configureDevHyper-v.sh
USER_NAME=< WINDOWS CLIENT USERNAME >
CLIENT_IP=<WINDOWS CLIENT IP >
CLIENT_PATH_TO_PROJECT=< WINDOWS CLIENT PATH TO PROJECT FILES, EXCLUDING DRIVE LETTER, E.G. /Users/username/path/to/folder >
