# Server Config, provide watever names you want to use 
# for each of your dev, stage and production Hosts
DEV_MACHINE_NAME=dev
# Stage machine name must be a world unique name
STAGE_MACHINE_NAME=stage

# Version numbers for your ASP and Java applications on the staging server
# When building Dev containers you will always use "latest", when building
# for the staging server you will always use the version number in 
# "ASP|JAVA_STAGE_VERSION"
WEB_STAGE_VERSION=0.1.0
REST_STAGE_VERSION=0.1.0
